<div class="inner">
	<!-- About Us -->
	<header id="inner">
		<br />
		<h1>Kitul Tree</h1>
		<p>
			Caryota urens is a species of flowering plant in the palm family, native to Sri Lanka, India, Myanmar and Malaysia (perhaps elsewhere in Indo-Malayan region), where they grow in fields and rainforest clearings, it is regarded as introduced in Cambodia. This species is called kithul (කිතුල්) in Sri Lanka. It is best known as the source of kithul treacle, a liquid jaggery. The sap of the tree is boiled for many hours until it turns into the thick, dark treacle, unique to Sri Lanka. Kithul treacle is used as a sweetener in both Sri Lankan and Western cooking.
			In Ayurveda recommends the use of Caryota urens for seminal weakness and urinary disorders, the juice is applied on the forehead for hemicranias. In traditional medicine porridge prepared from Caryota urens flower is used to treat gastric ulcer, migraine headaches, snake bite poisoning, as well as rheumatic swellings.
		</p>
	</header>
	<br>
	<br>

	<h2 class="h2">
		Kitul Treacle
	</h2>
	<div class="row">
		<div class="col-12 text-center">
			<p class="m-n">
				<em>
					Kitul treacle is made from sap extracted from the inflorescence of the kitul palm, Caryota urens, which grows in Sri Lanka. The treacle is made from pure sap boiled down to a sweet, dark brown syrup, thick and sweet in flavour, with a taste resembling dates with a slight hint of caramel.
					Kithul treacle can be used as a medicine - Kithul treacle possesses certain medicinal properties, so it's known to help prevent arthritis, improve complexion, alleviate constipation, aid weight loss, and combat blood sugar.
				</em>
			</p>
		</div>
	</div>
	<br />

	<h2 class="h2">
		Kitul Jaggery
	</h2>
	<div class="row">
		<div class="col-12 text-center">
			<p class="m-n">
				<em>
					Kithul Jaggery is made of treacle harvested off the variety of Palm by the name of Caryota urens. This is a species of flowering plant in the palm family from the Indian Subcontinent and Southeast Asia where they grow in fields and rainforest clearings.
					Kithul jaggery is rich in essential minerals. As some studies have revealed, it has 60 times more minerals than white sugar. It is also the storehouse of many vitamins.
				</em>
			</p>
		</div>
	</div>
	<br />
	<h2 class="h2">
		Kitul Flour
	</h2>
	<div class="row">
		<div class="col-12 text-center">
			<p class="m-n">
				<em>
					Kithul flour is the starch extracted from the kithul palm tree.It is believed that kithul flour has the ability to make your body cool and helps to get rid of problems like cracked feet, gastric ulcers, severe headaches & even reduce high blood pressure.
				</em>
			</p>
		</div>
	</div>
	<br>
</div>
