@page "/"
@layout HomeLayout
    <div id="wrapper">
        <HomeHeader />
        <div class="main">
            <ApeGama.Client.Shared.Slider />
            <HomeBody />
        </div>
            <HomeFooter />
        
    </div>
<NavMenu/>
