@page "/"
@layout HomeLayout
    <div id="wrapper">
        <HomeHeader />
        <div class="main">
            <Slider/>
            <HomeBody />
        </div>
        
    </div>
<NavMenu NavItem="HomeNav"/>
