@page "/not_autherized"

<div id="wrapper">
    <HomeHeader />
    <div class="main">
        <div class="row align-content-center" style="padding-top:70px; padding-bottom:70px">
            <div class="col-md-6 offset-3">
                <h2 class="h2"><center>Sorry, You are not autherized to view this conetent...</center></h2>
            </div>
        </div>
    </div>
</div>
<NavMenu />
@code {

}
