<header id="header" style="padding:0">
    <div class="inner" style="height:100px">

        <!-- Logo -->
        <a href="index.html" class="logo" style="padding:20px 0px 0px 0px">
            <span class="fa fa-home fa-2x"></span> <span class="title"><font size="6">Ape Gama</font></span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>